:root {
    --primary-color: #37CDD7;
    --secondary-color: #FED766;
    --bg-color: #000;
    --fill-color: #fff;
    --text-color: #000;
}

.lightMode:root {
    --primary-color: #FED766;
    --secondary-color: #37CDD7;
    --bg-color: #fff;
    --fill-color: #000;
    --text-color: #000;
}