@media (min-width: 768px) {
    html {
        font-size: 75%;
    }

    .mainDecorationContainer {
        width: 300px;
    }

    .mainDecorationContainer .circle1 {
        height: 300px;
        width: 300px;
        top: -50px;
        right: -80px;
    }

    .mainDecorationContainer .circle2 {
        height: 300px;
        width: 300px;
        right: -20px;
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 90%;
    }

    .topBarContainer {
        justify-content: space-between;
        max-width: 1380px;
        margin: auto;
    }

    .topBarContainer .menuContainer ul.menu {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        height: auto;
        opacity: 1;
        list-style: none;
    }

    .topBarContainer .menuContainer .menu li a {
        font-size: 1.4rem;
        margin: 0 0.8rem;
    }

    .topBarContainer .darkButtonContainer {
        position: relative;
        top: 0;
    }

    .topBarContainer .menuContainer .hamburgerButton {
        display: none;
    }

    .homeContainer {
        margin: 6rem auto;
        align-items: center;
    }

    .initialContainer .socialsButtonsContainer {
        flex-direction: row;
    }

    .button {
        margin: 0 0.5rem;
        height: 5rem;
        width: 15rem;
    }

    .button img {
        height: 3rem;
    }

    .mainDecorationContainer img {
        top: 80px;
    }

    .mainDecorationContainer .circle1 {
        top: 50px;
    }

    .mainDecorationContainer .circle2 {
        top: 180px
    }

    .scrollButtonContainer {
        margin-top: 0;
    }

    .cardsContainer {
        grid-template-columns: 1fr 1fr;
    }
}